<a href="https://colab.research.google.com/github/davialvesguerra/trainee-iee/blob/main/2%C2%BA_Per%C3%ADodo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [55]:
df = pd.read_csv('gdrive/My Drive/iee/2º Período/OnlineNewsPopularity.csv')

In [ ]:
data1 = pd.read_csv('gdrive/My Drive/iee/2º Período/url_spam_classification.csv')

# Analisando o dataset

In [52]:
df.head()

                                                 url  ...  shares
0  http://mashable.com/2013/01/07/amazon-instant-...  ...     593
1  http://mashable.com/2013/01/07/ap-samsung-spon...  ...     711
2  http://mashable.com/2013/01/07/apple-40-billio...  ...    1500
3  http://mashable.com/2013/01/07/astronaut-notre...  ...    1200
4   http://mashable.com/2013/01/07/att-u-verse-apps/  ...     505

[5 rows x 61 columns]

O primeiro problema apresentado é o das colunas que tem um espaço na frente:

In [56]:
print(df.columns)

Index(['url', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens',
       ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords', ' data_channel_is_lifestyle',
       ' data_channel_is_entertainment', ' data_channel_is_bus',
       ' data_channel_is_socmed', ' data_channel_is_tech',
       ' data_channel_is_world', ' kw_min_min', ' kw_max_min', ' kw_avg_min',
       ' kw_min_max', ' kw_max_max', ' kw_avg_max', ' kw_min_avg',
       ' kw_max_avg', ' kw_avg_avg', ' self_reference_min_shares',
       ' self_reference_max_shares', ' self_reference_avg_sharess',
       ' weekday_is_monday', ' weekday_is_tuesday', ' weekday_is_wednesday',
       ' weekday_is_thursday', ' weekday_is_friday', ' weekday_is_saturday',
       ' weekday_is_sunday', ' is_weekend', ' LDA_00', ' LDA_01', ' LDA_02',
       ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' global_sentiment_polarity', ' global_rate_positive_words',
       ' global_rate_negative_words', ' rate_positive_words',
       ' rate_negative_words', ' avg_positive_polarity',
       ' min_positive_polarity', ' max_positive_polarity',
       ' avg_negative_polarity', ' min_negative_polarity',
       ' max_negative_polarity', ' title_subjectivity',
       ' title_sentiment_polarity', ' abs_title_subjectivity',
       ' abs_title_sentiment_polarity', ' shares'],
      dtype='object')

renomeando:

In [57]:
name_columns = [ _.strip() for _ in df.columns]

df = df.set_axis(name_columns, axis=1)

print(df.columns)

Index(['url', 'timedelta', 'n_tokens_title', 'n_tokens_content',
       'n_unique_tokens', 'n_non_stop_words', 'n_non_stop_unique_tokens',
       'num_hrefs', 'num_self_hrefs', 'num_imgs', 'num_videos',
       'average_token_length', 'num_keywords', 'data_channel_is_lifestyle',
       'data_channel_is_entertainment', 'data_channel_is_bus',
       'data_channel_is_socmed', 'data_channel_is_tech',
       'data_channel_is_world', 'kw_min_min', 'kw_max_min', 'kw_avg_min',
       'kw_min_max', 'kw_max_max', 'kw_avg_max', 'kw_min_avg', 'kw_max_avg',
       'kw_avg_avg', 'self_reference_min_shares', 'self_reference_max_shares',
       'self_reference_avg_sharess', 'weekday_is_monday', 'weekday_is_tuesday',
       'weekday_is_wednesday', 'weekday_is_thursday', 'weekday_is_friday',
       'weekday_is_saturday', 'weekday_is_sunday', 'is_weekend', 'LDA_00',
       'LDA_01', 'LDA_02', 'LDA_03', 'LDA_04', 'global_subjectivity',
       'global_sentiment_polarity', 'global_rate_positive_words',
       'global_rate_negative_words', 'rate_positive_words',
       'rate_negative_words', 'avg_positive_polarity', 'min_positive_polarity',
       'max_positive_polarity', 'avg_negative_polarity',
       'min_negative_polarity', 'max_negative_polarity', 'title_subjectivity',
       'title_sentiment_polarity', 'abs_title_subjectivity',
       'abs_title_sentiment_polarity', 'shares'],
      dtype='object')

In [60]:
df.dtypes.unique()

array([dtype('O'), dtype('float64'), dtype('int64')], dtype=object)

Verificando os tipos das colunas é possível observar que a maioria apresenta os dados como no tipo numérico, mas observando a quantidade de valores únicos em cada coluna abaixo algumas delas apresentam valores binários, dando a entender que possam ser variáveis categóricas

In [62]:
[[x,df[x].nunique()] for x in df]

[['url', 39644],
 ['timedelta', 724],
 ['n_tokens_title', 20],
 ['n_tokens_content', 2406],
 ['n_unique_tokens', 27281],
 ['n_non_stop_words', 1451],
 ['n_non_stop_unique_tokens', 22930],
 ['num_hrefs', 133],
 ['num_self_hrefs', 59],
 ['num_imgs', 91],
 ['num_videos', 53],
 ['average_token_length', 30136],
 ['num_keywords', 10],
 ['data_channel_is_lifestyle', 2],
 ['data_channel_is_entertainment', 2],
 ['data_channel_is_bus', 2],
 ['data_channel_is_socmed', 2],
 ['data_channel_is_tech', 2],
 ['data_channel_is_world', 2],
 ['kw_min_min', 26],
 ['kw_max_min', 1076],
 ['kw_avg_min', 17003],
 ['kw_min_max', 1021],
 ['kw_max_max', 35],
 ['kw_avg_max', 30834],
 ['kw_min_avg', 15982],
 ['kw_max_avg', 19438],
 ['kw_avg_avg', 39300],
 ['self_reference_min_shares', 1255],
 ['self_reference_max_shares', 1137],
 ['self_reference_avg_sharess', 8626],
 ['weekday_is_monday', 2],
 ['weekday_is_tuesday', 2],
 ['weekday_is_wednesday', 2],
 ['weekday_is_thursday', 2],
 ['weekday_is_friday', 2],
 ['weekday_is_saturday', 2],
 ['weekday_is_sunday', 2],
 ['is_weekend', 2],
 ['LDA_00', 39337],
 ['LDA_01', 39098],
 ['LDA_02', 39525],
 ['LDA_03', 38963],
 ['LDA_04', 39370],
 ['global_subjectivity', 34501],
 ['global_sentiment_polarity', 34695],
 ['global_rate_positive_words', 13159],
 ['global_rate_negative_words', 10271],
 ['rate_positive_words', 2284],
 ['rate_negative_words', 2284],
 ['avg_positive_polarity', 27301],
 ['min_positive_polarity', 33],
 ['max_positive_polarity', 38],
 ['avg_negative_polarity', 13841],
 ['min_negative_polarity', 54],
 ['max_negative_polarity', 49],
 ['title_subjectivity', 673],
 ['title_sentiment_polarity', 813],
 ['abs_title_subjectivity', 532],
 ['abs_title_sentiment_polarity', 653],
 ['shares', 1454]]

Afim de trabalha somente com as variáveis numéricas, vamos transformar essas possíveis variáveis categóricas em strings