<a href="https://colab.research.google.com/github/davialvesguerra/trainee-iee/blob/main/3%C2%BA_Per%C3%ADodo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import time

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
df = pd.read_csv('gdrive/My Drive/iee/3º Período/winequality.csv')

In [3]:
df

      Unnamed: 0  fixed acidity  ...  quality  wine_is_red
0              0            5.9  ...        6            1
1              1            8.2  ...        6            1
2              2            6.4  ...        6            0
3              3            6.6  ...        6            0
4              4            7.2  ...        6            0
...          ...            ...  ...      ...          ...
6492        6492            7.7  ...        6            0
6493        6493            6.2  ...        6            0
6494        6494            7.9  ...        6            0
6495        6495            7.0  ...        5            0
6496        6496            6.4  ...        6            0

[6497 rows x 14 columns]

In [4]:
cols_num = df.iloc[:,range(1,13)]
cols_num

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               5.9              0.61         0.08  ...       0.77     11.1        6
1               8.2              1.00         0.09  ...       0.55      9.0        6
2               6.4              0.24         0.49  ...       0.98     10.5        6
3               6.6              0.23         0.26  ...       0.60     10.0        6
4               7.2              0.24         0.29  ...       0.68     10.1        6
...             ...               ...          ...  ...        ...      ...      ...
6492            7.7              0.32         0.62  ...       0.44      8.9        6
6493            6.2              0.22         0.28  ...       0.48     10.5        6
6494            7.9              0.33         0.28  ...       0.38      8.8        6
6495            7.0              0.30         0.28  ...       0.57     11.4        5
6496            6.4              0.22         0.49  ...       0.52     10.1        6

[6497 rows x 12 columns]

In [5]:
start = time.time()
print("hello")
end = time.time()
print(end - start)

hello
0.0007143020629882812

In [49]:
start = time.time()
for i in range(0,1800):
  X_train.to_numpy()-X_test[i,:]
end = time.time()
print(end - start)

0.523590087890625

In [50]:
start = time.time()
for i in range(0,1800):
  np.subtract(X_train.to_numpy(), X_test[i,:])
end = time.time()
print(end - start)

0.532867431640625

In [8]:
def knn(x_test, X_train, y_train, k):

  ind = X_train.index
  X_process = X_train - x_test
  X_process = X_process**2

  X_process = np.sqrt(np.sum(X_process, axis=1))

  result = np.column_stack([ind,X_process])

  result = result[result[:,1].argsort()]

  result = y_train[result[:k,0]]

  counts = np.argmax(np.bincount(result))
  
  return counts

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
vec = np.vectorize(knn)
X_test.

array([11.6 ,  0.47,  0.44, ...,  0.54,  8.9 ,  0.  ])

In [9]:
X = df.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,13]]
y = df.iloc[:,12]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

X_test = X_test.to_numpy() 

start_time = time.time()
y_pred = [knn(X_test[x,:], X_train, y_train, k = 3) for x in range(X_test.shape[0])]
end_time = time.time()

end_time - start_time

11.060717344284058

In [ ]:
y_pred1 = [int(x) for x in y_pred1]

confusion_matrix(y_test, y_pred1)

NameError: ignored

In [ ]:
accuracy_score(y_test, y_pred1)

0.4379487179487179

In [ ]:
KNN = KNeighborsRegressor(n_neighbors=6)
KNN.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=6)

In [ ]:
y_pred1 = KNN.predict(X_test)

In [ ]:
def cont_unique(vetor):
  dic = {}

  for value in vetor:
    if str(value) not in list(dic.keys()):
      dic[str(value)] = 1

    else: 
      dic[str(value)] += 1


  return dic

In [ ]:
cont_unique(df['quality'])

{'3': 30, '4': 216, '5': 2138, '6': 2836, '7': 1079, '8': 193, '9': 5}

In [ ]:
def knn(x_test, X_train, y_train, k):

  tam = X_test.shape[0]


  result = np.empty((tam,2))

  for line in range(tam):

    linha = X_train.iloc[line,:]

    #result[line,0] = line
    result[line,1] = calcDistEuclid(linha, x_test)

  #result = result[result[:,1].argsort()]

  #result_k = result[0:k,:]
  
  #b = y_train.iloc[result_k[:,0]]

  #counts = np.bincount(b)
  #counts = np.argmax(counts)

  return result